<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <queries>
        <package android:name="com.nianticlabs.pokemongo" />
        <package android:name="com.nianticlabs.pokemongo.ares" />
    </queries>

    <application
        android:name=".App"
        android:appCategory="maps"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReactMap"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".follower.BackgroundLocationReceiver"
            android:directBootAware="true"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:directBootAware="true"
            android:foregroundServiceType="dataSync"
            tools:replace="android:directBootAware"
            tools:node="merge"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:directBootAware="true"
            tools:replace="android:directBootAware"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="remove"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            tools:node="remove"/>
    </application>

</manifest>
